run = "python main.py daily"
entrypoint = "main.py"
hidden = [".pythonlibs", ".cache"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["python", "main.py", "daily"]
deploymentTarget = "scheduled"

[env]
NOTIFY_VIA = "email"
GOOGLE_APPLICATION_CREDENTIALS = "/tmp/bigquery-key.json"
